<!DOCTYPE html>
<html lang="en-US" class="no-js">
	<head>

		<!-- ==============================================
		Title and Meta Tags
		=============================================== -->
		<meta charset="utf-8">
		<title>Shayna Thompson</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta description="Site description">

		<!-- ==============================================
		Favicons
		=============================================== 
		<link rel="shortcut icon" href="images/favicon.png">
        <link rel="apple-touch-icon" href="images/touch-icon-iphone.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/touch-icon-ipad.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/touch-icon-iphone-retina.png">
        <link rel="apple-touch-icon" sizes="144x144" href="images/touch-icon-ipad-retina.png">-->
		
		<!-- ==============================================
		CSS
		=============================================== -->    
		<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/font-awesome.min.css">
		<link rel="stylesheet" href="stylesheets/animate.css">
		<link rel="stylesheet" href="stylesheets/styles-pink.css">
		
		<!-- ==============================================
		Fonts
		=============================================== -->
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
		<!-- ==============================================
		JS
		=============================================== -->
			
		<!--[if lt IE 9]>
			<script src="javascripts/libs/respond.min.js"></script>
		<![endif]-->
		
		<script type="text/javascript" src="javascripts/libs/modernizr.min.js"></script>
	</head>
  
	<body data-spy="scroll" data-target="#main-nav" data-offset="200">
	
		<!--=== PAGE PRELOADER ===-->
		<div id="page-loader"><span class="page-loader-gif"></span></div>
		
	
		<!-- ==============================================
		MAIN NAV
		=============================================== -->
		<div id="main-nav" class="navbar navbar-fixed-top">
            
			<div class="container">
			
				<div class="navbar-header">
				
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
						<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button>
					
					<!--======= NAME ========-->
					<a class="navbar-brand" href="#home">SHAYNA THOMPSON</a>
				
				</div>
				
				<div id="site-nav" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="sr-only">
							<a href="#home">Home</a>
						</li>
						<li>
							<a href="#about"><i class="fa fa-user"></i> About Me</a>
						</li>
						<li>
							<a href="#skills"><i class="fa fa-pie-chart"></i> Skills</a>
						</li>
						<li>
							<a href="#portfolio"><i class="fa fa-th"></i> Projects</a>
						</li>
						<li>
							<a href="#contact"><i class="fa fa-comments-o"></i> Contact Me</a>
						</li>
					</ul>
				</div>
				
			</div>
			
		</div><!--End main-nav -->
		
		<!-- ==============================================
		HEADER
		=============================================== -->
		<header id="home">
			<div class="container text-center">

                <div class="hello">
                    <p>HELLO</p>
                    <h1>I AM SHAYNA THOMPSON</h1>
                    <p class="p2">AND</p>
                    <H2>I AM A SOFTWARE DEVELOPER</H2>
                </div>
                
			</div>
		</header><!--End home header -->

        <!-- ==============================================
        ABOUT
        =============================================== -->
		<section id="about" class="bg1">
		
			<div class="container">
				
				<div class="row">

                    <div class="col-xs-12">
                        <h1 class="big-text orange wow fadeInDown text-center">
                            <i class="fa fa-user"></i>
                            About Me
                        </h1>
                        <p class="about-text wow fadeInDown">
                             I have several years experience in several modern day programming languages and frameworks. Partnering with me is a win-win situation as I am always looking for new projects to demonstrate and increase my skill sets and in turn, provide you with the best solutions possible.
                        </p>
                    </div>

                    <!-- ==== PHOTO ==== -->
					<div class="col-sm-6">
                        <div id="trigger1"></div>
					    <div id="pin1" class="imageCont">
						    <img class="wow rollIn image" data-wow-offset="200" src="images/shayna.jpg" alt="" />
                        </div>
					</div>
                    
                    <!-- ==== TIMELINE ==== -->
					<div class="col-sm-6 timeline">
                        <i id="timeline-top" class="fa fa-clock-o"></i>


                        <div class="wow fadeInRight" data-wow-offset="200">
                            <i class="fa fa-book wow swing" data-wow-offset="200" data-wow-delay="1s"></i>
                            <h3>2018 - 2020</h3>
                            <p>
                                <span>Hochschule Fulda</span>
                                Currently pursing a Master's Degree in Global Software Development</p>
						</div>
						
						<div class="wow fadeInRight" data-wow-offset="200">
                            <i class="fa fa-briefcase wow swing" data-wow-offset="200" data-wow-delay="1s"></i>
                            <h3>2017 - 2018</h3>
                            <p>
                                <span>Software Developer</span>
                                Worked as a Software Developer at Belize Telemedia Limited, Belize's largest telecommunication company.                         </p>
						</div>
						
						<div class="wow fadeInRight" data-wow-offset="200">
                            <i class="fa fa-trophy wow swing" data-wow-offset="200" data-wow-delay="1s"></i>
                            <h3>2017</h3>
                            <p>
                                <span>Node JS Developer Certification</span>
                                Became certified in creating web applications using Node JS application environment.</p>
                        </div>

						<div class="wow fadeInRight" data-wow-offset="200">
                            <i class="fa fa-briefcase wow swing" data-wow-offset="200" data-wow-delay="1s"></i>
                            <h3>2015 - 2017</h3>
                            <p>
                                <span>Computer Programmer</span>
                                Worked as a Computer Programmer at Belize Telemedia Limited, Belize's largest telecommunication company.                         </p>
                        </div>

                       

                        <div class="wow fadeInRight" data-wow-offset="200">
                            <i class="fa fa-graduation-cap wow swing" data-wow-offset="200" data-wow-delay="1s"></i>
                            <h3>2012 - 2016</h3>
                            <p>
                                <span>University of Belize</span>
                               Graduated with honors with a Bachelor's Degree in Information Technology. GPA: 3.6 (American Scale)  and GPA: 1.7 (German Scale)</p>
                        </div>

                    

					</div>
				</div>
				
			</div>
		
		</section><!--End about section -->


		<!-- ==============================================
		SKILLS
		=============================================== -->
		<section id="skills" class="bg2">
		
			<div class="container">
				
				<div class="row">

                    <div class="col-xs-12">
                        <h1 class="big-text wow fadeInDown text-center" data-wow-offset="100">
                            <i class="fa fa-pie-chart"></i>
                             My skills
                        </h1>
                    </div>
				
	
<div class="container">
				  
				  <div id="myCarousel" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
					  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					  <li data-target="#myCarousel" data-slide-to="1"></li>
					  <li data-target="#myCarousel" data-slide-to="2"></li>
					
			
					 
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner">
					
						  
					   <div class="item active">
							<div class="col-md-4 col-sm-6 text-center">
								<span>
									
									<img class="chart"  width="300" height="100" src="images/skills/express.png"></img>
								</span>
							</div>

							<div class="col-md-4 col-sm-6 text-center">
								<span>
									<img class="chart" width="300" height="100" src="images/skills/nodejs.png"></img>
								</span>
							</div>

						

							<div class="col-md-4 col-sm-6 text-center">
								<span>
								<img class="chart" width="300" height="100"src="images/skills/angular.png"></img>
								</span>
							</div>

							<div class="col-md-4 col-sm-6 text-center">
								<span>
								<img class="chart" width="300" height="100"src="images/skills/typescript.png"></img>
								</span>
							</div>

							<div class="col-md-4 col-sm-6 text-center">
								<span>
								<img class="chart" width="300" height="100"src="images/skills/npm.png"></img>
								</span>
							</div>

							<div class="col-md-4 col-sm-6 text-center">
								<span>
								<img class="chart" width="300" height="100" src="images/skills/ionic.png"></img>
								</span>
							</div>

							
					  </div>

					  <div class="item">
							<div class="col-md-6 col-sm-6 text-center">
								<span>
									
									<img class="chart" width="200" height="100"  src="images/skills/php.png"></img>
								</span>
							</div>

							<div class="col-md-6 col-sm-6 text-center">
								<span>
									<img class="chart" width="200" height="100" src="images/skills/javascript.png"></img>
								</span>
							</div>

							<div class="col-md-6 col-sm-6 text-center">
								<span>
								<img class="chart" width="200" height="100"  src="images/skills/html5.png"></img>
								</span>
							</div>
							<div class="col-md-6 col-sm-6 text-center">
								<span>
								<img class="chart" width="200" height="100" src="images/skills/css3.png"></img>
								</span>
							</div>
					  </div>
					  
				
					  
					   <div class="item">
							<div class="col-md-4 col-sm-6 text-center">
								<span>
									
									<img class="chart" width="300" height="100" src="images/skills/oracle.png"></img>
								</span>
							</div>

							<div class="col-md-4 col-sm-6 text-center">
								<span>
									<img class="chart" width="300" height="100" src="images/skills/mongo.png"></img>
								</span>
							</div>

							<div class="col-md-4 col-sm-6 text-center">
								<span>
								<img class="chart" width="300" height="100" src="images/skills/mysql.png"></img>
								</span>
							</div>
							
					  </div>
					 
				  
					</div>

					<!-- Left and right controls -->
					
					
					 <a class="left carousel-contro" href="#myCarousel" data-slide="prev">
						<span class="icon-prev"></span>
					</a>
					<a class="right carousel-contro" href="#myCarousel" data-slide="next">
						<span class="icon-next"></span>
					</a>
				  </div>
				</div>
		
		</section><!--End skills section -->
			
		<!-- ==============================================
		PORTFOLIO
		=============================================== -->
		<section id="portfolio" class="">
		
			<div class="container">

                <h1 class="big-text orange wow fadeInDown text-center" data-wow-offset="100">
                    <i class="fa fa-th"></i>
                    My Projects
                </h1>
				
				<!--==== Portfolio Filters ====-->
				<div id="filter-works">
					<ul>
						<li class="active wow fadeInRight" data-wow-delay="0s">
							<a href="#" data-filter="*">All</a>
						</li>
						<li class="wow fadeInRight" data-wow-delay=".3s">
							<a href="#" data-filter=".node">node.js</a>
						</li>
						<li class="wow fadeInRight" data-wow-delay=".6s">
							<a href="#" data-filter=".php">php</a>
						</li>
						<li class="wow fadeInRight" data-wow-delay=".6s">
								<a href="#" data-filter=".mobile">Mobile</a>
						</li>

					</ul>
				</div><!--End portfolio filters -->
				
			</div>
		
			<div class="container masonry-wrapper">
			
				<div id="projects-container">

					  <!-- ==== PROJECT ITEM ==== -->
					  <article class="project-item mobile" data-toggle="modal" data-target=".project-item-1">
							<img class="img-responsive project-image" src="images/projects/notepad.jpeg" alt="notepad"><!--Project thumb -->
							<h2 class="project-title">Notepad App</h2><!--Project Title -->
						</article>
						
						<!--==== Project Modal ====-->
						<div class="modal fade project-item-1">
						  <div class="modal-dialog modal-lg">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="fa fa-times"></i>
							</span><span class="sr-only">Close</span></button>
								  <h4 class="modal-title">Notepad App<span>Mobile</span></h4><!--Modal Title, Subtitle -->
								<img src="images/projects/notepad2.jpeg" alt="notepad" />
							  </div>
							  <div class="modal-body">
								<p align="center">This app was created as a demo for a research paper which discussed Ionic Framework as cross-platform development tool. The app was deployed on both iOS and Android OS</p>
								</div>
							</div>
						  </div>
						</div>
						<!-- ==== END PROJECT ITEM ==== -->	

						 <!-- ==== PROJECT ITEM ==== -->
						 <article class="project-item mobile" data-toggle="modal" data-target=".project-item-2">
								<img class="img-responsive project-image" src="images/projects/fbsmobile.jpg" alt="fbsmobile"><!--Project thumb -->
								<h2 class="project-title">Fula Buy & Sell Mobile</h2><!--Project Title -->
							</article>
							
							<!--==== Project Modal ====-->
							<div class="modal fade project-item-2">
							  <div class="modal-dialog modal-lg">
								<div class="modal-content">
								  <div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="fa fa-times"></i>
								</span><span class="sr-only">Close</span></button>
									  <h4 class="modal-title">Fula Buy & Sell Mobile<span>Mobile</span></h4><!--Modal Title, Subtitle -->
									<img src="images/projects/fbsmobile.jpg" alt="fbsmobile" />
								  </div>
								  <div class="modal-body">
									<p align="center">A mobile version of the Fulda Buy & Sell web-base project was  . The app was deployed on Android OS</p>
									</div>
								</div>
							  </div>
							</div>
							<!-- ==== END PROJECT ITEM ==== -->	



					  <!-- ==== PROJECT ITEM ==== -->
					  <article class="project-item node" data-toggle="modal" data-target=".project-item-3">
							<img class="img-responsive project-image" src="images/projects/fbs.jpg"  alt="fbs"><!--Project thumb -->
							<h2 class="project-title">Fulda Buy & Sell</h2><!--Project Title -->
						</article>
						
						<!--==== Project Modal ====-->
						<div class="modal fade project-item-3">
						  <div class="modal-dialog modal-lg">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="fa fa-times"></i>
	</span><span class="sr-only">Close</span></button>
								  <h4 class="modal-title">Fulda Buy & Sell<span>node.js</span></h4><!--Modal Title, Subtitle -->
								<img src="images/projects/fbs2.jpg" alt="fbs" />
							  </div>
							  <div class="modal-body">
								<p align="center">A web-based buy and sell application for students of Hochschule Fulda. This website was developed in collaboration with a 5 member team as a project for the Global Software Devlopment course. Role: Team lead and Back end developer</p>
								</div>
							</div>
						  </div>
						</div>
						<!-- ==== END PROJECT ITEM ==== -->	
					   
				
					<!-- ==== PROJECT ITEM ==== -->
					<article class="project-item php" data-toggle="modal" data-target=".project-item-4">
						<img class="img-responsive project-image" src="images/projects/belizecityapp.jpg" alt="belizecity"><!--Project thumb -->
                        <h2 class="project-title">BelizeCity App</h2><!--Project Title -->
					</article>
                    
                    <!--==== Project Modal ====-->
                    <div class="modal fade project-item-4">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="fa fa-times"></i>
</span><span class="sr-only">Close</span></button>
                              <h4 class="modal-title">BelizeCity App Website <span>php</span></h4><!--Modal Title, Subtitle -->
                            <img src="images/projects/belizecityapp.jpg" alt="belizecity" />
                          </div>
                          <div class="modal-body">
                            <p align="center">An informational website created using PHP, HTML5, CSS3 and Bootstrap for an existing Belize City mobile application.</p>
                          </div>
                        </div>
                      </div>
                    </div>
					<!-- ==== END PROJECT ITEM ==== -->	
                    
                    <!-- ==== PROJECT ITEM ==== -->
					<article class="project-item  node" data-toggle="modal" data-target=".project-item-5">
						<img class="img-responsive project-image" src="images/projects/tdd.jpg"  alt="tdd"><!--Project thumb -->
                        <h2 class="project-title">LTE-TDD Provisioning Portal</h2><!--Project Title -->
					</article>
                    
                    <!--==== Project Modal ====-->
                    <div class="modal fade project-item-5">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="fa fa-times"></i>
</span><span class="sr-only">Close</span></button>
                              <h4 class="modal-title">LTE-TDD Provisioning Portal<span>node.js</span></h4><!--Modal Title, Subtitle -->
                            <img src="images/projects/tdd.jpg" alt="tdd" />
                          </div>
                          <div class="modal-body">
								<p>To facilitate BTL's new LTE-TDD service, a web portal was created to assist technicians in the provisioning of new and existing customers. The portal was created using Node.js , Express Framework, Oracle Database, HTML5, CSS3 and Bootstrap.
								<p>Functionalities of the portal included:</p>
								<ol><li>Integration with Active Directory</li>
								<li>Provisioning a new subscriber</li>
								<li>Modifying an existing subscriber's SIM information</li>
								<li>Changing the subscriber's site/sector location</li>
								<li>Querying subscriber's information</li>
								<li>Removing subscriber</li><ol></p>                          
						</div>
                        </div>
                      </div>
                    </div>
					<!-- ==== END PROJECT ITEM ==== -->	
                    
                    <!-- ==== PROJECT ITEM ==== -->
					<article class="project-item node" data-toggle="modal" data-target=".project-item-6">
						<img class="img-responsive project-image" src="images/projects/blog.jpg"  alt="blog"><!--Project thumb -->
                        <h2 class="project-title">Blog</h2><!--Project Title -->
					</article>
                    
                    <!--==== Project Modal ====-->
                    <div class="modal fade project-item-6">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="fa fa-times"></i>
</span><span class="sr-only">Close</span></button>
                              <h4 class="modal-title">Blog<span>node.js</span></h4><!--Modal Title, Subtitle -->
                            <img src="images/projects/blog.jpg" alt="blog" />
                          </div>
                          <div class="modal-body">
							<p>A web-based blog using Node Js, Express Framework, MongoDB, HTML5, CSS3 and Bootstrap which allows users to sign up, login, create new post, read and comment on existing posts.</p>
							</div>
                        </div>
                      </div>
                    </div>
					<!-- ==== END PROJECT ITEM ==== -->	
                   
				
                    
                    

				</div><!-- End projects --> 
				
			</div><!-- End container --> 
			
		
		</section><!-- End portfolio section --> 

        <!-- ==============================================
        CONTACT
        =============================================== -->
		<section id="contact" class="">
		
			<div class="container">
				
				<div class="row">

                    <div class="col-xs-12">
                        <h1 class="big-text orange wow fadeInDown text-center" data-wow-offset="100">
                            <i class="fa fa-comments-o"></i>
                            Contact Me
                        </h1>
                    </div>
				
                    <div class="clear"></div>
                    
					<div class="col-md-6 text-right hidden-sm hidden-xs">
                        
                        <!-- MAP -->
                        <div id="gmap" class="wow fadeInLeft" data-wow-offset="100"></div>
					
					</div>
				
					<!--=== Contact info ===-->
                    <div class="col-md-6 contact-info">
                        <p class="contact-text wow fadeInRight">
						Interested in my services? Please contact me and I'll get back to you as soon as possible!
                        </p>
                        <ul class="contact-list">
                            <li class="wow fadeInRight" data-wow-delay="0s">
                                <a id="mapLink" target="_blank" href="">
                                    <i class="fa fa-map-marker"></i> 
                                    Fulda 36037, Germany
                                </a>
                            </li>
                            <li class="wow fadeInRight" data-wow-delay="0s">
                                <a href="tel:+4917636312025">
                                    <i class="fa fa-phone"></i> +4917636312025
                                </a>
                            </li>
                            <li class="wow fadeInRight" data-wow-delay="0s">
                                <a href="mailto:shaynathompsonbz@gmail.com">
                                    <i class="fa fa-envelope"></i> shaynathompsonbz@gmail.com
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--=== End Contact ===-->
					
				</div>
				
			</div>
		
		</section><!--=== End Contact section ===-->
		
		<!-- ==============================================
		FOOTER
		=============================================== -->	
		
		<footer id="main-footer">
            <!-- FOOTER MAP -->
            <div id="gmapMobil" class="hidden-lg hidden-md"></div>
            
            <!-- FOOTER Social -->
			<div class="container">
			    <ul class="social">
                   
                    <li class="wow fadeInRight" data-wow-delay=".3s"><a href="https://github.com/shaynathompson/"><i class="fa fa-github"></i></a></li>
                    <!--<li class="wow fadeInRight" data-wow-delay=".6s"><a href="https://plus.google.com/u/0/"><i class="fa fa-google-plus"></i></a></li>-->
                    <li class="wow fadeInRight" data-wow-delay=".9s"><a href="https://www.linkedin.com/in/shaynathompson/"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <p>&copy; 2017 - All rights reserved | Shayna Thompson</p>
                   
			 </div>
            
		</footer><!--=== End Footer ===-->
		
		<!-- ==============================================
		SCRIPTS
		=============================================== -->

        <script src="javascripts/libs/jquery-1.11.3.min.js"></script>
		<script src="javascripts/libs/bootstrap.min.js"></script>
        <script src="javascripts/jquery.backstretch.min.js"></script>
        <script src="javascripts/jquery.easypiechart.min.js"></script>
		<script src="javascripts/jquery.masonry.min.js"></script>
        <script src="javascripts/wow.min.js"></script>
        
        <script src="javascripts/jquery.scrollmagic.min.js"></script>
        
		<!--<script src="http://maps.google.com/maps/api/js?sensor=true"></script>-->
        
        <script src="javascripts/scripts.js"></script>
		
		
	
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBy8gstyVbRXY0OmJ_8k3o5R5iI5BN9Ir8"
  type="text/javascript"></script> 
		
		<script>
            new WOW().init();

            /*============================================
            Map
            ==============================================*/
			
			var mapPoint = {
					'lat': 50.5558, 
					'lng': 9.6808,
					'zoom' : 15,
					'icon': 'images/marker.png'
				};
            
        </script>
		
	</body>
	
</html>